input {
  margin-top: 5px;
  padding: 5px;
  display: block;
  width: 433px;
  border: none;
  border-radius: 5px;
}

input[type="radio"] {
  width: 20px;
}

textarea {
  margin-top: 5px;
  border-radius: 10px;
  border: none;
}

header.adminBoard {
  background: bisque;
}

button {
  margin-top: 10px;
}

.mistake {
  color: red;
}

.right-space {
  margin-right: 10px;
}

.top-space {
  margin-top: 20px;
}

