<div class="container">
  <header class="jumbotron">
<h1 style="font-size: 1.5em;">Здесь можно  добавить новый вопрос в базу</h1>
      <div class="col">выберите сложность
        <div class="dropdown">
        <label>
          <select (change)="changeStockDifficult($event)">
            <option *ngFor="let difficult of difficulties">
              {{difficult.difficultName}}
            </option>
          </select>
        </label>
        </div>
      </div>
        <div class="col">выберите тему
          <div class="dropdown">
        <label>
          <select (change)="changeStockTheme($event)">
            <option *ngFor="let theme of themes">
              {{theme.themeName}}
            </option>
          </select>
        </label>
          </div>
        </div>

    <div>
      <span *ngIf="questionName">Текст вопроса:</span>
      <span class="mistake" *ngIf="!questionName">*Введите вопрос!</span>
      <br>
      <textarea [(ngModel)]="questionName" cols="60" rows="5"  required></textarea>
    </div>

    <br>

    <div>
        <span *ngIf="correctAnswer">Правильный ответ:</span>
        <span class="mistake" *ngIf="!correctAnswer">*Введите правильный ответ!</span>
        <br>
        <input [(ngModel)]="correctAnswer" required/>
    </div>

    <br>

    <div>
      <span>Неправильные ответы:</span>
      <ol>
        <li *ngFor="let wrongAnswer of wrongAnswers; let i = index;">{{wrongAnswer.answerText}}
          <button class="x-button" (click)="deleteFromWrongAnswers(i)">&times;</button>
        </li>
      </ol>
      <input [(ngModel)]="wrongAnswer" />
      <button type="button" class="btn btn-secondary" (click)="addToWrongAnswersArray()">добавить неправильный ответ </button>
    </div>

    <div class="top-space">
      <button type="button" class="btn btn-primary right-space" (click)="addQuestion()">Добавить вопрос</button>
      <button type="button" class="btn btn-secondary" (click)="clearForms()">Очистить форму</button>
    </div>

  </header>
</div>
