<p>
  Всего игр: {{statistic.totalGames}}<br>
  Всего набрано очков: {{statistic.totalScore}}<br>
  Процент правильных ответов за все время: {{statistic.rightAswerPersent}}%<br>
</p>

<p class="specialty">
  По категориям: 
</p>

<ul class="specialty">
  <li *ngFor="let stat of specialty">
    Тема: {{stat.theme}}<br>
    Сложность: {{stat.difficult}}<br>
    Количество игр: {{stat.totalGames}}<br>
    Заработано очков: {{stat.totalScore}}<br>
    Процент правильных ответов: {{stat.rightAswerPersent}}%<br>
    <br>
  </li>
</ul>
