li:hover {
  background-color: #26a69a;
  color: #eafaf9;
  cursor: pointer;
}

a.start-button {
  font-size: 1.2em !important;
  color: #D2691E !important;
  border: 2px solid #D2691E;
}

a.start-button:hover {
  background-color: #B0C4DE !important;
}
