  <header class="jumbotron">
    <div class="col-md-12">
      <div class="container">
        <div class="col-sm">выберите сложность
          <div class="dropdown">
            <label>
              <select (change)="changeStockDifficult($event)">
                <option *ngFor="let difficult of difficulties">
                  {{difficult.difficultName}}
                </option>
              </select>
            </label>
          </div>
        </div>
        <div class="col-sm">выберите тему
          <div class="dropdown">
            <label>
              <select (change)="changeStockTheme($event)">
                <option *ngFor="let theme of themes">
                  {{theme.themeName}}
                </option>
              </select>
            </label>
          </div>
        </div>

        <div class="col-sm">
<button type="button" class="btn btn-primary btn-lg" (click)="startAnswering()"> Начать</button>
        </div>
      </div>
    </div>
  </header>
