<p>выберите сложность
  <label>
    <select (change)="setSelectedDif($event)">
      <option *ngFor="let difficult of difs" >
        {{difficult.difficultName}}
      </option>
    </select>
  </label></p>


<p>выберите тему
  <label>
    <select (change)="setSelectedTheme($event)">
      <option    *ngFor="let theme of themes" >
        {{theme.themeName}}
      </option>

    </select>
  </label></p>

<button (click)="getQuestionList()" > Начать </button>

<a href = "user/qanda">
  <!--

  -->
  начать
</a>

<p>{{questionIdList}}</p>
<p>{{selectedDif}}</p>
<p>{{selectedTheme}}</p>
